.dashboard {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    min-height: calc(100vh - 80px);
}

.profile-card {
    grid-column: 1 / -1; /* full width */
    background-color: #16005d;
    color: white;
    padding: 30px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 180px;
    margin-bottom: 16px;
}

.profile-card p:first-child {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.profile-card p:last-child {
  font-size: 20px;
  margin-top: 6px;
  opacity: 0.9;
}


.card {
  background-color: #e0e0e0;
  border-radius: 14px;
  padding: 22px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card:hover {
    transform: scale(1.03);

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.6s ease, box-shadow 0.6s ease,
    background-color 0.3s ease;

    font-weight: 600;
}   


.events-card {
  grid-column: 1 / -1;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 22px;
  /* box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1); */
}

.events-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 6px;
}

.events-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.events-list li {
  padding: 12px 4px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}

.events-list li:last-child {
  border-bottom: none;
}

.calendar { 
  grid-column: 1/-1;
}